#page {
    display:grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 100px 800px;
}

#nav {
    grid-column: 1;
}

#right-nav {
    grid-column: 3;
}

#list-box {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#one {
 grid-column: 1;
 grid-row: 1;
}

#two {
 grid-column: 1;
 grid-row: 2;
}

#three {
 grid-column: 1;
 grid-row: 3;
}

#four {
 grid-column: 2;
 grid-row: 1;
}

#five {
 grid-column: 2;
 grid-row: 2 / span 2;
}

#six {
 grid-column: 3;
 grid-row: 1 / span 2;
}

#seven {
 grid-column: 3;
 grid-row: 3 / span 1;
}

.list-box {
    height: 200px;
}