<div id="page">
 
  <div id="nav">nav</div>

  <div id="title">PORLTAND CRAIGSLIST</div>
  <div id="right-nav">right nav</div>

  <div id="list-box">
    <div class="list-box" id="one">
      <a class="navbar-brand"  routerLink="community">community</a>
      </div>
    <div class="list-box" id="two">
      <a class="navbar-brand" routerLink="service">service</a>
    </div>
    <div class="list-box" id="three">discussion forums
      <a class="navbar-brand" routerLink="community">community</a>
    </div>
    <div class="list-box" id="four">housing
      <a class="navbar-brand" routerLink="community">community</a>
    </div>
    <div class="list-box" id="five">for sale
      <a class="navbar-brand" routerLink="community">community</a>
    </div>
    <div class="list-box" id="six">jobs
      <a class="navbar-brand" routerLink="community">community</a>
    </div>
    <div class="list-box" id="seven">
      <a class="navbar-brand" routerLink="community">community</a>
    <div class="list-box" id="8">resumes
      <a class="navbar-brand" routerLink="community" >community</a>
    </div>
    </div>

  </div>
</div>